<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664790420640-m5vds3db3anhiai6hs4hccjqrn9rnet9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664790420640-m5vds3db3anhiai6hs4hccjqrn9rnet9</string>
	<key>API_KEY</key>
	<string>AIzaSyCNcmJ6nBBPmlOmW-cub0mGhxorp9_Cgn0</string>
	<key>GCM_SENDER_ID</key>
	<string>664790420640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.s.bitsoev.PrognozistManager</string>
	<key>PROJECT_ID</key>
	<string>prognozist-6d579</string>
	<key>STORAGE_BUCKET</key>
	<string>prognozist-6d579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664790420640:ios:36785e8b58e2494c3d4dc5</string>
	<key>DATABASE_URL</key>
	<string>https://prognozist-6d579.firebaseio.com</string>
</dict>
</plist>